html,
body,
#root {
	background-color: #333;
}

.flash-score {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	opacity: 0;
	transition: opacity 0.5s;
	font-size: 15vw;
	color: gold;
	text-shadow: 0px 0px 5px black;
}

.flash-score.visible {
	opacity: 1;
}
.progress-bar {
	transition-duration: 0.2s !important;
}
